/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    display: flex;
    width: 100%;
    min-height: 100px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .container{
    background-color: orange;
    width: 1200px;
    min-height: 40px;
}
.logo{
    width: 200px;
    height: 40px;
    border: 1px dashed black;
    display: flex;
    align-items: center;
}
.link{
    min-width: 800px;
    height: 40px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    width: 200px;
    height: 40px;  
    border: 1px dashed black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* MAIN */
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1{
    background-color: blue;
    min-height: 500px;
}
#section2, #section3, #section4{
    min-height: 600px;
}
#section1 .container{
    width: 800px;
    min-height: 400px;
    background-color: pink;
    
}
#section2 .container1{
    width: 800px;
    min-height: 500px;
    background-color: cornflowerblue;
}
#section2 .container2{
    width: 500px;
    min-height: 500px;
    background-color: pink;
}
#section3 .container1{
    width: 500px;
    min-height: 500px;
    background-color: pink;
}
#section3 .container2{
    width: 800px;
    min-height: 500px;
    background-color: cornflowerblue;
}
#section3{
    background-color: lightgray;
}
#section4 .container1{
    width: 800px;
    min-height: 500px;
    background-color: cornflowerblue;
}
#section4 .container2{
    width: 500px;
    min-height: 500px;
    background-color: pink;
}
#section5{
    min-height: 900px;
    background-color: lightgray;
}
#section5 .container{
    width: 1300px;
    min-height: 800px;
    background-color: green;
}

/* FOOTER */
footer{
    background-color: darkslategray;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
footer .container{
    width: 1300px;
    min-height: 600px;
}
.container .box{
    width: calc(100% / 4);
    background-color: deepskyblue;
    border: dashed white;
}
.container .box1{
    width: 600px;
    background-color: pink;
}
hr{
    background-color: aqua;
    width: 100%;
}
.container-footer{
    width: 1300px;
    height: 70px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.logo-footer{
    align-self: center;
    width: 100px;
    min-height: 30px;
    border: 1px dashed black;
}
#Button{
    align-self: center;
    width: 100px;
    min-height: 30px;
}
