/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    background-color: aqua;
}
.container{
    border: 1px dashed black;
    align-self: center;
    
    display: flex;
    flex-direction: row;
}
header .container{
    background-color: orange;
    width: 1200px;
    min-height: 40px;
}
.information-link{
    display: flex;
    justify-content: center;
}
.logo{
    width: 200px;
    height: 40px;
    border: 1px dashed black;
    
}
.link{
    min-width: 800px;
    height: 40px;
    border: 1px dashed black;
}
.login{
    width: 200px;
    height: 40px;  
    border: 1px dashed black;
}
/* MAIN */
section{
    min-height: 500px;
    display: flex;
    align-items: center;
}
#section1{
    background-color: blue;
}
#section1 .container{
    width: 800px;
    min-height: 400px;
    background-color: pink;
    
}
#section2 .container1{
    width: 400px;
    min-height: 400px;
    background-color: cornflowerblue;
}
#section2 .container2{
    width: 400px;
    min-height: 400px;
    background-color: pink;
}
#section3{
    background-color: lightgray;
}
#section5{
    min-height: 700px;
    background-color: lightgray;
}
